<nav class="navbar fixed-top bg-transparent">
  <div class="container-fluid">
      <div class="col-sm-3 mr-auto ml-auto">
        <a class="btn btn btn-outline btn-primary btn-round" [routerLink]="['/order']">
          <strong class="text-neutral">Place Order</strong>
        </a>
      </div>

      <div class="col-sm-3 mr-auto ml-auto">
        <a class="btn btn-primary btn-round float-right" rel="tooltip" href="https://www.facebook.com/thefrostedangel" target="_blank">
          <strong class="text-neutral">Contact</strong>
        </a>
      </div>
      </div>
</nav>
