<app-navbar></app-navbar>
<div class="page-header" data-parallax="true" style="background-image: url('assets/img/background/macarons.jpg');">
  <div class="filter"></div>
  <div class="container">
      <div class="motto text-center">
          <h1 style="font-family:'Lucida Sans Unicode';">THE FROSTED ANGEL</h1>
          <h2>Admin Portal</h2>
          <h3 *ngIf="!loggedIn">Login to edit content and track orders</h3>
          <h3 *ngIf="loggedIn">Below Sections for tracking orders and adding content</h3>
      </div>
  </div>
</div>
<hr>
    <app-account *ngIf="loggedIn"></app-account>
<div class="main">
  <div class="section text-center">
  <div class="container">
    <app-addcontent *ngIf="loggedIn"></app-addcontent>
  </div>
</div>
</div>
